<nav class="navbar navbar-dark navbar-expand-md bg-dark py-3">
    <div class="container">
                  {% if user.is_authenticated %}
                  <a class="navbar-brand d-flex align-items-center logo-circulo" href="/">
                    <img src="\media\uci2.jpg" alt="Logo" class="w-100 pe-3 logo ">

                  </a>
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="fs-6 nav-link" href="/">Inicio</a></li>
                  </ul>
                  <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                 {% else %}
                   <a class="navbar-brand d-flex align-items-center logo-circulo" href="">
                     <img src="\media\uci2.jpg" alt="Logo" class="w-100 pe-3 logo ">

               <span></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-5"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>

                  {% endif%}
        <div class="collapse navbar-collapse" id="navcol-5">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">Noticias</a></li>
                <li class="nav-item"><a class="nav-link" href="#">&nbsp;Galeria</a></li>
                {% if user.is_authenticated %}
                <div class="w-25 d-flex justify-content-end ms-3 mt-2"><a href="{% url 'cerrar_sesion' %}"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-power colorprincipal" viewBox="0 0 16 16">
  <path d="M7.5 1v7h1V1h-1z"/>
  <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z"/>
</svg></a></div>
</div>
{% endif %}
            </ul>
        </div>
    </div>
</nav>
